<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="../static/style.css">
    <title>Форма</title>
</head>
<body>
    <form method="POST">
        <h2 class="form_title">Добро пожаловать на страницу формы.<br></h2>
        <p class="form_text">Введите ваше имя и e-mail:<br>
          <input type="text" class="text_input" name="name" placeholder="Имя"><br>
          <input type="email" class="mail_input" name="email" placeholder="E-mail"><br>
          <button class="submit_button" type="submit"> Отправить </button>
          <button class="reset_button" type="reset"> Очистить </button>
        </p>
      </form>
</body>
</html>